@font-face {
  font-family: "Space Thin";
  src: url("./assets/fonts/Space Thin.woff");
}

@font-face {
  font-family: "Space Light";
  src: url("./assets/fonts/Space Light.woff");
}

@font-face {
  font-family: "Space Regular";
  src: url("./assets/fonts/Space Regular.woff");
}

@font-face {
  font-family: "Space Book";
  src: url("./assets/fonts/Space Book.woff");
}

@font-face {
  font-family: "Space Medium";
  src: url("./assets/fonts/Space Medium.woff");
}

@font-face {
  font-family: "Space Bold";
  src: url("./assets/fonts/Space Bold.woff");
  font-display: swap;
}

@font-face {
  font-family: "Space Black";
  src: url("./assets/fonts/Space Black.woff");
}

@font-face {
  font-family: "Space ExtraBlack";
  src: url("./assets/fonts/Space ExtraBlack.woff");
}

* {
  font-family: "Space Bold";
  -webkit-transition-property: none !important;
  -moz-transition-property: none !important;
  -o-transition-property: none !important;
  transition-property: none !important;
  transition: unset !important;
  transition: width 0s !important;
}

nav, .offcanvas-header {
  height: 64px;
  background: #fff;
}

.navbar,
.offcanvas-header,
.nav-link,
.offcanvas-body {
  padding: 0;
  margin: 0;
}

.container-fluid {
  padding: 0;
}

.navbar-toggler {
  padding: 0;
  border: 0;
  box-shadow: none !important;
}

.nav-icon {
  margin: 20px;
}

.nav-link {
  color: #000 !important;
  padding: 20px;
}

.nav-link:hover {
  text-decoration: underline;
  text-underline-position: under;
}

.offcanvas {
  border-width: 0px !important;
  background: #fff;
  transition-duration: 0.000s !important;
  width: 100% !important;
  height: 100% !important;
}

::selection {
  background-color: #75D97D !important;
  color: #000 !important;
}

.offcanvas-search-64 {
  height: 64px !important;
}

input {
  border: 0;
  outline: none;
  padding: 0;
  width: 100%;
}

::placeholder {
  color: #636363;
}

.dropdown-menu {
  padding: 0;
  margin: 0 !important;
  border: 0;
}

.dropdown-item {
  padding: 0;
  padding: 13.5px 20px;
  font-size: 14px;
  font-family: "Space Regular";
}

.dropdown-icon {
  float: right;
}

.dropdown .nav-link:hover {
  text-decoration: none !important;
}

.row {
  width: 100%;
}