@font-face {
  font-family: 'Regular';
  src: url('../../Demo-Criteria_CF/Demo_Fonts/Fontspring-DEMO-criteriacf-regular.otf');
}

@font-face {
  font-family: 'extrabold';
  src: url('../../Demo-Criteria_CF/Demo_Fonts/Fontspring-DEMO-criteriacf-extrabold.otf');
}

body {
  background: #000;
}

* {
  font-family: 'Regular';
  text-decoration: none !important;
}

nav, .offcanvas-header {
  height: 64px;
  background: #000000;
}

.navbar, .offcanvas-header, .navbar-brand, .nav-link, .offcanvas-body {
  padding: 0;
  margin: 0;
}

.container-fluid {
  padding: 0;
}

.navbar-toggler {
  padding: 0;
  border: 0;
  box-shadow: none !important;
}

.nav-icon {
  margin: 20px;
}

.nav-link, .navbar-logo {
  color: #fff;
  padding: 20px;
}

.navbar-logo {
  font-family: 'extrabold';
}

.nav-link:hover {
  color: #1ed760;
}

.offcanvas {
  border-width: 0px !important;
  background: #000000 !important;
  transition-duration: 0.2s;
}